vk_api==11.9.0
pyrogram==1.0.7
tgcrypto==1.2.1
loguru==0.5.2
wget==3.2
mutagen==1.45.1
beautifulsoup4==4.9.1
streamlink==1.5.0
setuptools~=52.0.0
requests~=2.25.1
certifi~=2020.12.5
soupsieve~=2.1
Pillow~=8.1.0
numpy~=1.19.5
pip~=21.0
django-request~=1.5.6
attrs~=20.3.0
pytz~=2020.5
tqdm~=4.56.0
colorama~=0.4.4
idna~=2.10
multidict~=5.1.0
Babel~=2.9.0
Django~=3.1.6
sqlparse~=0.4.1
asgiref~=3.3.1
Jinja2~=2.11.3
MarkupSafe~=1.1.1
contextvars~=2.4
aiocontextvars~=0.2.2
six~=1.15.0
websocket-client~=0.57.0
aiohttp~=3.7.3
aiogram~=2.11.2
yarl~=1.6.3
chardet~=3.0.4
isodate~=0.6.0
moviepy~=1.0.3
proglog~=0.1.9
imageio~=2.9.0
decorator~=4.4.2
python-dateutil~=2.8.1
urllib3~=1.26.2
Werkzeug~=1.0.1
click~=7.1.2
iso3166~=1.0.1
immutables~=0.14